</br>
<%= @sentence.formatted_view.html_safe %>

<h2>Entities</h2>
<% @sentence.entities.each do |entity| %>
  <p>
    <strong>Text:</strong>
    <%= entity.text %>
  </p>

  <p>
    <strong>TextType:</strong>
    <%= entity.text_type %>
  </p>
<% end %>

<h2>Add an Entity:</h2>
<%= form_with model: [ @sentence, @sentence.entities.build ] do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>
  <p>
    <%= form.label :text_type %><br>
    <%= form.text_field :text_type %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Back", sentences_path %>